#lyrics-display {
    float: left;
}

#rhymes-display {
    float: right;
}

textarea {
    flex: 1;
    display: block;
    margin: 10px;
    padding: 1px;
    border: 1px solid;
    max-width: 50%;
    width: auto;
}

#search-input {
    margin-top: 5px;
}

label {
    margin-left: 5px;
}